<div class="jumbotron">
    <h1 class="text-center">Msql-POC</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
        	<div class="input-group-btn">
	        	<span class="input-group-btn">
	        		<a href="#/microservico/new" class="btn btn-primary">Novo Microserviço</a>
	        	</span>
        	</div>
            <input ng-model="filtro" ng-model-options="{debounce: 500}" class="form-control" type="" name="" placeholder="Filtrar">
        </form>
    </div> <!-- Fim col-md-12-->
</div><!-- Fim row-->

<div class="row">
    <painel ng-repeat="micro in microservices | filter: filtro" nome="{{micro.nome}}" class="col-md-3 painel-animado">
        <ul>
            <li><b>Servidor:</b> {{micro.ip_servidor}}
            <li><b>Porta:</b> {{micro.porta}}
        </ul>
        
        <div class="row">
            <button ng-click="contarRequisicoes(micro)" class="btn btn-primary btn-block col-md-12">Contar Requisições</button>
        </div>
        <div class="row">
            <button ng-click="contarErros(micro)" class="btn btn-danger btn-block col-md-12">Contar Erros</button>
        </div>
        <div class="row">
            <button ng-click="verificarMemoria(micro)" class="btn btn-warning btn-block col-md-12">Verificar Memória</button>
        </div>
    </painel>
</div>