<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Microserviços</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <input ng-model="filtro" ng-model-options="{debounce: 500}" class="form-control" type="" name="" placeholder="Filtrar">
        </form>
    </div> <!-- Fim col-md-12-->
</div><!-- Fim row-->

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
<p ng-show="mensagemError.length" class="alert alert-danger">{{mensagemError}}</p>

<div class="row">
    <painel ng-repeat="micro in microservices | filter: filtro" nome="{{micro.nome}}" class="col-md-3 painel-animado">
        <ul>
            <li><b>Servidor:</b> {{micro.ip_servidor}}
            <li><b>Porta:</b> {{micro.porta}}
            <li><b>Path:</b> {{micro.path}}
            <li><b>StatusCount:</b> {{micro.status_count}}
        </ul>
       <!--  <div class="row">
            <a href="#/microservico/edit/{{micro.id}}" class="btn btn-link col-md-12">Editar</a>
            <a ng-click="obterEstatisticas(micro)" href="/#/estatistica" class="btn btn-info col-md-12">Estatística</a>
        </div> -->

        <div class="btn-group" uib-dropdown is-open="status.isopen">
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            Ações <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="#/microservico/edit/{{micro.id}}">Editar</a></li>
            <li role="menuitem"><a href="/#/deletar">Deletar</a></li>
            <li role="menuitem"><a ng-click="obterEstatisticas(micro)" href="/#/estatistica">Estatística</a></li>
          </ul>
        </div>

        <div class="espacamentoTop">
            <div class="row">
                <button ng-show="{{micro.countRegistrado}}" ng-click="desregistraContarRequisicoes(micro)" class="btn btn-primary col-md-12">
                    Desregistrar Contador</button>
                <button ng-show="{{!micro.countRegistrado}}" ng-click="registraContarRequisicoes(micro)" class="btn btn-primary col-md-12">
                    Registrar Contador</button>
            </div>
            <div class="row">
                <button ng-click="contarErros(micro)" class="btn btn-danger col-md-12">Contar Erros</button>
            </div>
            <div class="row">
                <button ng-click="consumoMemoria(micro)" class="btn btn-warning col-md-12">Verificar Memória</button>
            </div>
        </div>
        
    </painel>
</div>